<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <form name="login" method="post">
        <tr>
            <td>登录</td>
        </tr><br/>
        <tr>
            <td>账号：</td>
            <td><input type="text" name="username" size="24"></td>
        </tr><br/>
        <tr>
            <td>密码：</td>
            <td><input type="password" name="password" size="24"></td>
        </tr><br/>
        <tr>
            <td><input type="submit" value="登录" size="24"></td>
        </tr>
    </form>
</body>
</html>